fieldset {
	width: 35%;
	margin: auto;
	background-color: rgb(197, 59, 59);
}
body{
	background-color: rgb(76, 76, 76);
	color: aliceblue;
}
input:not([type = radio]) {
	border-radius: 5px;
	border-color: #2d2d2d;
	border-width: 1px;
	height: 24px;
}

legend {
	font-size: larger;
}

label {
	display: flex;
	flex-direction: column-reverse;
	margin-top: 10px;
}

label > span {
	transition: all .2s;
	transform-origin: top left;
	font-size: 15px;
}

.fs2 {
	border: none;
	padding: 0;
	margin-top: 10px;
	margin-left: 0;
}

input ~ label {
	margin-top: 0;
	margin-right: 2em;
}

button {
	background-color: #2d2d2d;
	color: white;
	margin-top: 2em;
	padding: 10px;
	border-radius: 5px;
	border: none;
}