fieldset {
	width: 35%;
	margin: auto;
	background-color: rgb(197, 59, 59);
}
body{
	background-color: rgb(76, 76, 76);
	color: aliceblue;
}


legend {
	font-size: larger;
}

label {
	display: flex;
	flex-direction: column-reverse;
	margin-top: 10px;
}



.fs2 {
	border: none;
	padding: 0;
	margin-top: 10px;
	margin-left: 0;
}



button {
	background-color: #2d2d2d;
	color: white;
	margin-top: 2em;
	padding: 10px;
	border-radius: 5px;
	border: none;
}