html {
	font-family: sans-serif;
}

body {
	margin: 0;
}

header {
	background: rgb(52, 206, 142);
	height: 100px;
}

h1 {
	text-align: center;
	color: white;
	line-height: 100px;
	margin: 0;
}

article {
	padding: 10px;
	margin: 10px;
	background: rgba(16, 233, 215, 0.178);
}



@media screen and (min-width: 700px) and (max-width: 1399px){
	.adaptive {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
	}
	.adaptive > article:nth-child(n+4) {
			width: 46%;
	}
}


@media (min-width: 1400px){
	.adaptive {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
	}
	.adaptive > article:nth-child(-n+2) {
			width: 46.8%;
	}
	.adaptive > article:nth-child(4),.adaptive > article:nth-child(5) {
			width: 46.8%;
	}
	.adaptive > article:nth-child(n+6) {
			width: 22%;
	}
}